//左侧标题
.sidebar-heading span {
    font-size: 1em;
    font-weight: bold;
}
.sidebar-heading.open span{
    font-weight: bold;
}
//左侧边栏展开文章的字体大小
a.sidebar-link.active {
    color: #070808 !important;
    font-size: 15px !important;
    background: #c3d4b742 !important;
}
.sidebar-sub-headers a.sidebar-link {
    margin: 0 1rem 0 1rem !important;
}

//去除左上角标题，作者，标签等
//.page .page-title {
//    display: none;
//}

//右侧标题字体
a.sidebar-link {
  font-size: 14px !important;
}
//右侧标题栏宽度
ul.sub-sidebar-wrapper {
  width: 250px !important;
  height: 600px !important;
}
.about
  .aboutNav
    list-style none
    display flex
    justify-content space-between
    padding 0
    // box-shadow 0 1px 6px 0 rgba(0,0,0,0.2)
    .aboutNavItem
      width 12.5%
      background #F0F2F4
      color #000000
      padding 5px 10px
      text-align center
      cursor pointer
      &:hover
        background #0567f1
        color #ffffff
  .aboutContent
    width 100%
    box-shadow 0 1px 6px 0 rgba(0, 0, 0, 0.2)
    border-radius 0.25rem
    padding 10px
    box-sizing border-box
    .colors
      .midnightblue
        color midnightblue
        background-color midnightblue
      .blue
        color blue
        background-color blue
      .deepskyblue
        color deepskyblue
        background-color deepskyblue
      .cornflowerblues
        color cornflowerblue
        background-color cornflowerblue
      .lightskyblue
        color lightskyblue
        background-color lightskyblue
      .wuwangcaoblue
        color #7bbfea
        background-color #7bbfea
      .slateblue
        color slateblue
        background-color slateblue
      li
        height 21px
        padding 10px 20px
        &:hover
          color #ffffff
    ul
      padding 0
      margin 0
      list-style none
      line-height 21px
      img
        width 16px
        height 16px
        margin 0 5px
      li
        // background #F0F2F4
        padding 0 5px
        margin-bottom 5px
        display flex
        align-items center
        &:last-child
          margin 0